@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&family=Noto+Sans+KR:wght@300;400;700&display=swap");

:root {
  font-family: "Noto Sans KR", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.sub-info-div {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  position: absolute;
  right: 100px;
  bottom: 100px;
}

.arrow-down-span {
  overflow: hidden;
}

.sub-info {
  font-weight: 700;
  font-size: 15px;
  align-self: center;
  margin-top: 20px;
}

.see-more {
  position: absolute;
  bottom: -15px;
  left: -68px;
}
.next,
.all-menu {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  cursor: pointer;
}

.all-menu {
  right: 130px;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  position: absolute;
}

/* Main - start */

.main-div .next {
  right: -120px;
  bottom: 15px;
}

.page-title {
  font-size: 25px;
  font-weight: 700;
}

.page-title-2 {
  margin-top: 76px;
}

.page-detail {
  margin-top: 36px;
  margin-left: 40px;
}

/* Main - end */

/* Skill - start */
.sub-title-2 {
  font-size: 17px;
  margin: 15px 0 13px 0;
}

.sub-title-2 .icon {
  margin-top: -2px;
}

.sub-title-2 .text {
  margin-left: 9px;
  font-weight: 600;
}

.sub-content .text {
  margin-top: -4px;
}

.sub-content .graph {
  margin: -7px 0 0 42px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 55px;
  justify-content: space-between;
}

.graph .name {
  width: 108px;
}

.graph .number {
  margin-left: 30px;
  margin-right: -20px;
  font-size: 12px;
}
/* Skill - end */

/* Career - start*/
.career {
  font-size: 17px;
}

.career .page-detail {
  padding-left: 8px;
}

.career-name {
  margin: 54px 0 2px 0;
}

.date-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin-bottom: 42px;
  padding: 9px 0 0 0;
}

.title-small {
  margin-left: 10px;
  font-size: 12px;
}

.project-div {
  display: flex;
  flex-direction: row;
}

.project-div .icon {
  margin-top: -5px;
  margin-right: 13px;
}

.project-div .left {
  margin: 0 60px 0 15px;
}

.project-div .left .detail {
  font-size: 15px;
  width: 285px;
  margin: 9px 0 0 23px;
}

.project-div .right .detail {
  font-size: 15px;
  width: 300px;
  margin: 9px 0 60px 23px;
}

.project-div .detail p {
  margin: 0 0 6px 0;
}
/* Career - end */

.close {
  width: 80px;
  position: absolute;
  right: 20%;
  top: 50px;
  cursor: pointer;
  z-index: 1;
}

.title-div {
  width: 1550px;
  display: flex;
  height: 100px;
  flex-direction: column-reverse;
  align-content: center;
}

.page-detail {
  width: 1600px;
}

/** 반응형 웹 */
@media (max-width: 1904px) {
  .title-div {
    width: 1100px;
  }
  .page-detail {
    width: 1150px;
  }
}

@media (max-width: 1264px) {
  .title-div {
    width: 900px;
  }
  .page-detail {
    width: 950px;
  }
}

@media (max-width: 960px) {
  .title-div {
    width: 620px;
  }
  .page-detail {
    width: 670px;
  }
}

@media (max-width: 650px) {
  .title-div {
    width: 400px;
  }
  .page-title {
    font-size: 15px;
  }
  .page-detail {
    width: 450px;
    font-size: 12px;
  }
  .next,
  .all-menu {
    font-size: 20px;
  }
}
